player-connection-mode=Listen
player-connection-guid=339564085
player-connection-debug=0
player-connection-project-name=Project Survivor
player-connection-wait-timeout=-1
player-connection-ip=10.0.7.63
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c9bf487647604ac483567ea90ed2177d
